* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.out-container {
  background-color: white;
  border-radius: 10px;
  max-width: 340px;
  height: max-content;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.out-container h2 {
  font-weight: bold;
}

.out-container h3 {
  font-weight: normal;
}

.in-container img {
  border-radius: 15px;
  width: 100%;
}
